*
*.elc
!.gitignore
!.emacs
!*.ahk
!/.emacs.d/
!/.emacs.d/lisp/
!/.emacs.d/lisp/*
!/.emacs.d/themes/
!/.emacs.d/themes/*
!/.emacs.d/lisp/helm/
!/.emacs.d/lisp/helm/*
!/.emacs.d/lisp/magit/
!/.emacs.d/lisp/magit/*
!/.emacs.d/lisp/magit/lisp/
!/.emacs.d/lisp/magit/lisp/*
!/.emacs.d/lisp/magit/Documentation/
!/.emacs.d/lisp/magit/Documentation/*
!/.emacs.d/lisp/ivy/
!/.emacs.d/lisp/ivy/*
!/.emacs.d/lisp/haskell/
!/.emacs.d/lisp/haskell/*
!/.emacs.d/lisp/use-package/
!/.emacs.d/lisp/use-package/*